<div class="container">
  <center>
    <%= current_user.email %>님 반갑습니다!
  <a href="/users/sign_out">로그아웃</a>
  </center>
  <hr>
  
  <form action="/home/create" method="POST" enctype="multipart/form-data">
  <div class="form-group">
    <input type="text" name="title" class="form-control" placeholder="제목을 입력하세요">
  </div>
  <div class="form-group">
    <textarea class="form-control" name="content" placeholder="내용을 입력하세요" ></textarea>
  </div>
  <input type="hidden" name="user" value="<%=current_user.id%>">
  <button type="submit" class="btn btn-default">글 작성하기</button>
  </form>
  <hr>
  
  <% @post.each do |post| %>
    <h4> <%= post.title %> </h4>
    <p>작성자: <%= post.user.email %></p>
    <p> <%= post.created_at %> </p>
    <p> <%= post.content %> </p>
    <% if current_user.email == post.user.email %>
    <p>
      <a href="/home/edit/<%= post.id %>">[수정]</a>
      <a href="/home/destroy/<%= post.id %>" id="delete">[삭제]</a>
    </p>
    <% end %>
    <hr/>
  <% end %>

</div>

